.custom-node {
  min-height: 50px;
  min-width: 100px;
  border: 1.5px solid rgb(196, 203, 209);
  border-radius: 5px;
  background: rgb(244, 244, 245);
  overflow: hidden;
  position: relative;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.719), 0 4px 6px -4px rgba(0, 0, 0, 0.404);
}

.custom-node-tittle {
  display: block;
  border-color: rgb(196, 203, 209);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: black;
  font-size: .5rem;
  padding: 1.5px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1.5px;
  border-style: solid;
}

.custom-node-handle {
  width: 8px;
  height: 8px;
  overflow: hidden; 
  background-color: rgb(196, 203, 209);
  border: none;
}