@tailwind base;
@tailwind components;
@tailwind utilities;

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.dndflow aside {
  padding: 15px 10px;
  font-size: 12px;
  background: #b4bcbf;
}

.dndflow aside .description {
  margin-bottom: 10px;
  color: #1a1a1a;
}

.dndflow .dndnode {
  height: 30px;
  padding: 4px;
  border: 2px solid #1a192b;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  color: #1a1a1a;
  border-color: 2px solid #525252;
  background-color: #f8fafc;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100vh;
  width: 80vw;
}

.dndflow .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}
